Source: linux-sunxi
Section: kernel
Priority: optional
Maintainer: Niall Walsh <niallwalsh@users.berlios.de>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9.20120115), cpio, python, gcc-4.7 [amd64 armhf i386]
Vcs-Svn: svn://svn.berlios.de/fullstory/linux-aptosid/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/linux-aptosid/trunk/
Homepage: http://kernel.org/

Package: linux-image-3.4-29.sunxi.1-sunxi-amd64
Architecture: amd64
Provides: linux-image, linux-modules-3.4-29.sunxi.1-sunxi-amd64
Pre-Depends: debconf | debconf-2.0
Depends: kmod | module-init-tools (>= 3.16), ${misc:Depends}, initramfs-tools (>= 0.99~) [amd64] | linux-initramfs-tool [amd64]
Recommends: firmware-linux-free (>= 3~)
Suggests: linux-doc-3.4, crda [amd64], grub-pc [amd64] | extlinux [amd64] | grub-efi-amd64 [amd64]
Breaks: initramfs-tools (<< 0.99~)
Conflicts: r8168-dkms
Description: Linux 3.4 for 64-bit PCs
 The Linux kernel 3.4 and modules for use on PCs with AMD64 or Intel 64
 processors.

Package: linux-image-sunxi-amd64
Architecture: amd64
Section: metapackages
Priority: extra
Depends: linux-image-3.4-29.sunxi.1-sunxi-amd64 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-sunxi-amd64 (= ${binary:Version})
Description: Linux image for sunxi on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for sunxi.

Package: linux-headers-sunxi-amd64
Architecture: amd64
Section: metapackages
Priority: extra
Depends: linux-headers-3.4-29.sunxi.1-sunxi-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux headers for sunxi on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for sunxi.

Package: linux-headers-3.4-29.sunxi.1-sunxi-amd64
Architecture: amd64
Provides: linux-headers
Depends: ${misc:Depends}, gcc-4.7
Conflicts: r8168-dkms
Description: Header files for Linux 3.4-29.sunxi.1-sunxi-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 3.4-29.sunxi.1-sunxi-amd64, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-3.4-29.sunxi.1-sunxi-amd64, and can be used for
 building modules that load into the kernel provided by the
 linux-image-3.4-29.sunxi.1-sunxi-amd64 package.

Package: linux-image-3.4-29.sunxi.1-sunxi-sun4i
Architecture: armhf
Provides: linux-image, linux-modules-3.4-29.sunxi.1-sunxi-sun4i
Pre-Depends: debconf | debconf-2.0
Depends: kmod | module-init-tools (>= 3.16), ${misc:Depends}, initramfs-tools (>= 0.99~) [armhf] | linux-initramfs-tool [armhf]
Recommends: firmware-linux-free (>= 3~), u-boot-tools [armhf]
Suggests: linux-doc-3.4, fdutils [armhf]
Breaks: initramfs-tools (<< 0.99~)
Conflicts: r8168-dkms
Description: Linux 3.4 for Allwinner A10
 The Linux kernel 3.4 and modules for use on boards with Allwinner A10
 processors.

Package: linux-image-sunxi-sun4i
Architecture: armhf
Section: metapackages
Priority: extra
Depends: linux-image-3.4-29.sunxi.1-sunxi-sun4i (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-sunxi-sun4i (= ${binary:Version})
Description: Linux image for sunxi on Allwinner A10
 This metapackage depends on the latest binary image for Linux kernel on
 boards with Allwinner A10 processors machines for sunxi.

Package: linux-headers-sunxi-sun4i
Architecture: armhf
Section: metapackages
Priority: extra
Depends: linux-headers-3.4-29.sunxi.1-sunxi-sun4i (= ${binary:Version}), ${misc:Depends}
Description: Linux headers for sunxi on Allwinner A10
 This metapackage depends on the latest binary image for Linux kernel on
 boards with Allwinner A10 processors machines for sunxi.

Package: linux-headers-3.4-29.sunxi.1-sunxi-sun4i
Architecture: armhf
Provides: linux-headers
Depends: ${misc:Depends}, gcc-4.7
Conflicts: r8168-dkms
Description: Header files for Linux 3.4-29.sunxi.1-sunxi-sun4i
 This package provides the architecture-specific kernel header files for
 Linux kernel 3.4-29.sunxi.1-sunxi-sun4i, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-3.4-29.sunxi.1-sunxi-sun4i, and can be used for
 building modules that load into the kernel provided by the
 linux-image-3.4-29.sunxi.1-sunxi-sun4i package.

Package: linux-image-3.4-29.sunxi.1-sunxi-686
Architecture: i386
Provides: linux-image, linux-modules-3.4-29.sunxi.1-sunxi-686
Pre-Depends: debconf | debconf-2.0
Depends: kmod | module-init-tools (>= 3.16), ${misc:Depends}, initramfs-tools (>= 0.99~) [i386] | linux-initramfs-tool [i386]
Recommends: firmware-linux-free (>= 3~), libc6-i686 [i386]
Suggests: linux-doc-3.4, crda [i386], grub-pc [i386] | extlinux [i386]
Breaks: initramfs-tools (<< 0.99~)
Conflicts: r8168-dkms
Description: Linux 3.4 for modern PCs
 The Linux kernel 3.4 and modules for use on PCs with Intel Pentium
 Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom; AMD Geode LX/NX, Athlon
 (K7), Duron, Opteron, Sempron, Turion or Phenom; Transmeta Efficeon; VIA
 C3 "Nehemiah" or C7 processors.

Package: linux-image-sunxi-686
Architecture: i386
Section: metapackages
Priority: extra
Depends: linux-image-3.4-29.sunxi.1-sunxi-686 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-sunxi-686 (= ${binary:Version})
Description: Linux image for sunxi on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for sunxi.

Package: linux-headers-sunxi-686
Architecture: i386
Section: metapackages
Priority: extra
Depends: linux-headers-3.4-29.sunxi.1-sunxi-686 (= ${binary:Version}), ${misc:Depends}
Description: Linux headers for sunxi on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for sunxi.

Package: linux-headers-3.4-29.sunxi.1-sunxi-686
Architecture: i386
Provides: linux-headers
Depends: ${misc:Depends}, gcc-4.7
Conflicts: r8168-dkms
Description: Header files for Linux 3.4-29.sunxi.1-sunxi-686
 This package provides the architecture-specific kernel header files for
 Linux kernel 3.4-29.sunxi.1-sunxi-686, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-3.4-29.sunxi.1-sunxi-686, and can be used for
 building modules that load into the kernel provided by the
 linux-image-3.4-29.sunxi.1-sunxi-686 package.

